*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
/model
.externalNativeBuild
.cxx
local.properties

# Android Studio temp files
*.hprof
*.prof

# App Module
/app/build/
/app/release/
/app/.cxx/

# AI generated logs/tasks (Antigravity)
.cache/
.gemini/
